# Ignore VLT files
.vlt
.vlt-sync.log
.vlt-sync-config.properties

# Ignore Quickstart launches in the source tree
license.properties
crx-quickstart

# Ignore compilation results
target

# Ignore folders created by the demo machine

tmp/
downloads/
ffmpeg/
james/
logs/
demos/
mongodb/
mysql/
solr/
archives/
dist/sites/
dist/sites-packages/
dist/osgi/
dist/hotfixes/
dist/forms/
dist/forms-packages/
dist/assets/
dist/assets-packages/
dist/apps/
dist/apps-packages/
dist/forms-demo/
dist/commerce/
dist/acs/
dist/samples/
dist/we-retail/

# Ignore files created by the demo machine
build-personal*
license-*.properties
events-data.xml
conf/*.jpg
*.p12

# Ignore downloaded feature packs for Communities
aem61-fp*
aem62-fp*
aem63-fp*
cq-social-expert-identification-pkg*
cq-social-scorm-pkg*

# Ignore IDE and Operating System artifacts
.idea
.classpath
.metadata
.project
.settings
maven-eclipse.xml
*.iml
*.ipr
*.iws
.DS_Store
*.jar
pom.xml.versionsBackup

cq5dam.*
generated
